header
{
    height: 100px;
}
.header-div
{
    border: 1px solid orange;
    width: 30%;
}

/*! ##### SECTION 1 ##### */
.avatar
{
    width: 50%;
}
h1
{
    font-weight: bold;
}
.star
{
    font-size: 2rem;
}

/*! ##### SECTION 2 ##### */
